/* Recipe Database Stylesheet by Baldur Siegel */

body {margin: 0; padding: 0; font: 76% tahoma,verdana,sans-serif;  color: #444; text-align: center; min-height: 100%;  -webkit-text-size-adjust: 100%;}

h1,h2,h3,h4 {margin: 0; padding: 0; font-weight: normal; line-height: 1.2em;}
h1 {font-size: 3em; letter-spacing: -2px; color: #567;}
h2 {font-size: 1.6em; letter-spacing: -1px; margin: 0; color: #888;}
h3 {color: #555; font-size: 1.4em;}
h4 {font-size: 1.2em; font-weight: bold;}
h5 {font-size: 12px; font-weight: bold; margin: 8px 0 2px 2em; color: #999;}
a {text-decoration: none; color: #269; font-weight: bold;}
a:hover {text-decoration: underline;}
input[type=text], button {font-size: 16px; -webkit-border-radius: 0; -webkit-appearance: none; border-radius: 0;}
button:hover {background-color: #ddd;}
button:active {background-color: #ccc;}

/* Containers */
.container, .containerThin, .containerFixed {max-width: 920px; min-width: 258px;
    padding: 0; margin: 0 auto; text-align: left; border-left: 1px solid #eef; border-right: 1px solid #eef;
    display: grid; grid-template-columns: repeat(4, 1fr); align-content: start;}
.containerThin {max-width: 718px;}
.containerFixed {width: 918px;}
.recipeContainer {width: 100%; height: auto; padding: 0; margin: 0 auto; text-align: left; border: none; grid-column:1 / 5; grid-row: 2;}
.content {grid-column: 1 / 5; grid-row: 2;}

/* Site Title */
.siteTitle {grid-column: 1 / 5; grid-row: 1; margin: 1.6em; padding-right: 3.6em;}
.siteTitle h1 {font-size: 2.4em;}
.siteTitle h2 {font-size: 1.2em; margin: -4px 0 0 30px;}

/* Navigation CSS */
.menu {grid-column: 3 / 5; grid-row: 1; margin: 0 1em 0 0; text-align: right;}
.menu a, .menu a:hover {font-weight: normal; text-decoration: none;}
.menuIcon {display: block; float: right; margin: 2.4em 1.4em 0 0; cursor: pointer;}
.menuIconLine {width: 30px; height: 4px; background-color: #ddd; margin: 4px 0; transition: 0.4s;}
.menuIcon:hover .menuIconLine {background-color: #888;}
.change .menuIconT {transform: rotate(-30deg) translate(-4px, 7px); -webkit-transform: rotate(-30deg) translate(-4px, 7px);}
.change .menuIconM {opacity: 0;}
.change .menuIconB {transform: rotate(30deg) translate(-4px, -7px); -webkit-transform: rotate(30deg) translate(-4px, -7px);}
#menuExtended {display: none;}
.menuExtended {display: flex; max-height: 112px; height: 100%; align-items: center; justify-content: end; float: right; margin-right: 0.6em;}
.menuExtended a, .dropdown > button {margin: 0; padding: 30px 6px; font-size: 1.6em; letter-spacing: -1px; color: #888;}
.menuExtended a:hover, .dropdown > button:hover {color:#269; padding: 30px 5px; border-left: 1px solid #eee; border-right: 1px solid #eee;}
.dropdown {position: relative; display: inline-block;}
.dropdown button {width: auto; height: auto; background-color: #fff; border: none; font-family: inherit;}
.dropContent {width: 100%; display: none; position: absolute; text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); z-index: 1;}
.overWidth {width: auto; white-space: nowrap;}
.dropContent a {width: auto; height: auto; text-align: center; padding: 6px 12px; display: block; background-color: #fff;}
.dropContent a:hover{background-color: #ddd; padding: 6px 12px; border: none;}
.dropdown:hover .dropContent, .dropdown:focus .dropContent {display: block;}
.miniMenu {grid-column: 1 / 5; position: absolute; height: auto; right: 80px; background-color: #fff; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); z-index: 1;}

/* Modal CSS */
.modal {display: block; position: fixed; z-index: 1; padding-top: 100px; left: 0; top: 0; width: 100%;
    height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);}
.modal-content {background-color: #fefefe; margin: 0 auto; padding: 20px; text-align: center; border: 1px solid #888;  max-width: 620px; width: 80%;}
.close {position: relative; right: -14px; top: -20px; color: #aaaaaa; float: right; font-size: 28px; font-weight: bold; line-height: 28px;}
.close:hover, .close:focus {color: #000; text-decoration: none; cursor: pointer;}

/* Display Recipe CSS */
.displayError {grid-column: 1 / 5; margin: 0 1em; padding: 4px; background-color: #ffe4e8; border-top: 2px solid #942a25;
    border-bottom: 2px solid #942a25; font: inherit; font-size: 1.6em; text-align: center; font-weight: bold;}
.emptyInfo {display: none;}
.recipeText {margin: 0 10px 15px 10px;}
.recipeText p {padding: 0 8px;}
.recipeText h2 {border-bottom: 2px solid #abb; padding: 0; margin: 0; color: #555;}
.onMenu {text-align: center; margin-left: -2em;}
.onMenu > a {margin-left: -6em;}
.onMenu p {margin: 0 0 0 -1.2em; padding: 1px;}
.recipeText h3 {padding: 0.6em 0 0 1.2em; margin: 0;}

.img {max-width: 420px; margin: 0 auto; overflow: hidden;}
.imgDisplay {display: inline-block; overflow-x: scroll; scrollbar-width: none; -ms-overflow-style: none; white-space: nowrap; margin: 0 4px;}
.imgDisplay::-webkit-scrollbar {display: none;}
.recipePicture {display: inline-block;}
.recipePicture img {width: 100%;}
.imgPositionDisplay {display: flex; width: 100%; margin: 0.8em 0; justify-content: space-around;}
.svgArrow {padding: 0 12px; margin: 0; flex: 0 1 auto;}
.svgArrow svg {height: 18px; stroke: #ddd; fill: #ddd;}
.svgArrow:hover, .svgArrow:hover svg {background-color: #fff; stroke: #444; fill: #444;}
.svgArrow:active svg {stroke: #bbb; fill: #bbb;}
.arrowRight {text-align: right;}
.blobs {flex: 1 1 auto; display: inline-block; align-self: center; text-align: center;}
.imgPosBlob {display: inline-block; width: 6px; height: 6px; margin: 2px 4px; padding: 0;
    border: 4px solid #888; border-radius: 50%; background-color: #fff;}
.filledBlob {background-color: #888;}

/* RecipeSearch CSS */
.search {text-align: center; margin: 0;}
.searchHeaderLarge {font-size: 2em; margin-top: 2em; color: #444;}
.searchInputs {width: 100%; margin: 6px 0; display: inline-block;}
.loadIcon {height: 22px; width: 22px; padding: 5px 2px 0 0; vertical-align: top;}
.searchBar {width: 60%; height: 30px; padding: 0 0 0 6px; margin: 0; border: 1px solid #ccc; color: #555;}
.clearInput {position: absolute; z-index: 1; right: 8px; bottom: -2px; font-size: 1.6em; cursor: pointer;}
.sButton1, .sButton2 {width: auto; height: 32px; padding: 2px 0; margin: 0; border: 1px solid #ccc; color: #567;
    background-color: #eeef; font-size: 12px; vertical-align: bottom;}
.sButton1 {padding: 2px 4px;}
.sButton2 {padding: 2px 10px;}
.optionPanel {margin: 0 0 4px 0;}
.searchError {margin: 0 4px 8px 4px; font: inherit; font-size: 12px; font-weight: bold;}
.searchError div {margin: 2px 0; padding: 2px 4px; border-left: 4px solid #942a25; background-color: #ffe4e8;}
.searchError .errorBlue {border-left-color: #002a80; background-color: #CCE7FE;}
.primaryError {font: inherit; text-align: center; font-weight: bold; margin: 0;}
.results {padding: 0 0 0 6px;}

/* SVG Button Classes */
/*.picButton {background-color: #fff; padding: 0; border: none; border-radius: 0;}*/
.arrowPath {fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5875;}
.arrowSVG {width: 60%;}
.deleteSVG {width: 22%; padding: 4px;}
.strokeFill {stroke: #ddd; fill: #ddd;}
.picButtonHover:hover, .picButtonHover:hover .strokeFill {background-color: #eee; transition: 0.4s; stroke: #567; fill: #567;}
.picButtonActive:active, .picButtonActive:active .strokeFill {border: none; background-color: #aaa; transition: 0s;}
.picButtonHoverEmpty:hover {background-color: #fff; cursor: default;}
.picButtonActiveEmpty:active {border: none; background-color: #fff; cursor: default;}

/* Autocomplete Classes */
.autocompleteWrapper {position: relative; display: inline;}
.autocompleteDrop {display: none; width: 100%; z-index: 1; position: absolute; left: 0; text-align: left; background-color: #eee;}
.autocomplete-items {position: absolute; border: 1px solid #d4d4d4; border-top: none;
    margin-top: 6px; z-index: 99; top: 100%; left: 0; right: 0; text-align: left;}
.autocomplete-items div {padding: 4px 0 4px 1em; cursor: pointer; background-color: #fff; border-top: 1px solid #d4d4d4; }
.autocomplete-items div:hover {background-color: #e9e9e9;}
.autocomplete-active {background-color: DodgerBlue !important; color: #ffffff;}
.autocomplete-active .lightText {color: #bbb;}

/* Table Formatting */
.recipeData {border-collapse: collapse; font-size: 1em; width: 100%; overflow-x: scroll; -webkit-overflow-scrolling: touch; display: block}
.metaTableHeader {cursor: pointer; top: 0; background-color: #fff; padding: 0; margin: 0; border-top: 2px solid #fff; border-bottom: 2px solid #fff;}
.recipeData td {padding: 4px 6px 4px 6px;}
.recipeData tr:nth-child(even) {background-color: #eee;}
.tableDivider  {background-color: #fff; border-top: 2px solid #777; border-bottom: 2px solid #777; padding: 0 0 0 2em;}
.tableDivider h3 {font: inherit; font-weight: bold; font-size: 1em; color: #444;}
.sortBorderBottom {border-bottom: 2px solid #1a8cff;}
.sortBorderTop {border-top: 2px solid #1a8cff;}

/* Custom Checkboxes */
.checkContainer {display: inline-block; position: relative; padding: 0; margin: 0 18px 12px 8px; cursor: pointer;
    font-size: 12px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.checkContainer input {position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; margin: 0;}
.checkbox {position: absolute; top: 0; left: 0; height: 12px; width: 12px; background-color: #eee; border: 1px solid #888;}
.checkContainer:hover input ~ .checkbox {background-color: #ccc;}
.checkContainer input:checked ~ .checkbox {background-color: #00B0FF;}

/* Extra Classes */
.hidden {display: none;}
.center {text-align: center;}
.noStyle {background-color: inherit; border: none; border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none;}
.TBborder {border-left: none; border-right: none;}
.RLborder {border-top: none; border-bottom: none;}
.lightText {color: #999;}
.lightText strong {color: #555;}

/* Animation */
.translate {transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);}

/* Responsive Stuff */
@media only screen and (min-width: 726px) {
    .containerThin input[type=text] {font-size: 14px;}

    .containerThin .siteTitle {grid-column: 1 / 4}
    .containerThin .siteTitle h1 {font-size: 3em;}
    .containerThin .siteTitle h2 {font-size: 1.6em;}
    .containerThin .menuIcon {display: none;}
    .containerThin #menuExtended {display: flex !important;}

    .containerThin .displayError {font-size: 2em;}
    .containerThin .emptyInfo {display: block;}
    .containerThin .results {padding: 0 6px 6px 6px;}

    .containerThin .recipeContainer {display: grid; grid-template-columns: repeat(6, 1fr); align-content: start; justify-content: normal;}
    .containerThin .recipeFullRow {grid-column: 1 / 7;}
    .containerThin .recipeLeftHalf {grid-column: 1 / 4;}
    .containerThin .recipeRightHalf {grid-column: 4 / 7;}
    .containerThin .recipeLeftThird {grid-column: 1 / 3;}
    .containerThin .recipeCenterThird {grid-column: 3 / 5;}
    .containerThin .recipeRightThird {grid-column: 5 / 7;}
    .containerThin .close {right: -14px;}
    .containerThin .recipeData {overflow-x: hidden; font-size: 1.17em;}
    .containerThin .searchHeaderLarge {font-size: 3em; margin-top: 3em;}
}
@media only screen and (min-width: 966px) {
    input[type=text] {font-size: 14px;}

    .siteTitle {grid-column: 1 / 4}
    .siteTitle h1 {font-size: 3em;}
    .siteTitle h2 {font-size: 1.6em;}
    .menuIcon {display: none;}
    #menuExtended {display: flex !important;}

    .results {padding: 0 6px 6px 6px;}
    .recipeData {overflow-x: hidden; font-size: 1.17em;}
    .searchHeaderLarge {font-size: 3em; margin-top: 3em;}
}