/*
 CSS template based off of andreas04 by Andreas Viklund
 Responsive design ported to CSS Grid by Baldur Siegel
 */
body {margin:0; padding:0; font:76% tahoma,verdana,sans-serif;  color:#444; text-align:center;}
.container {
    width: 920px; min-height: 1200px; padding:0 20px; margin:0 auto; text-align:left;
    border-left:1px solid #eef; border-right:1px solid #eef;
    display:grid; grid-template-columns:1fr 1fr 1fr; align-content: start;}

/* Tags */
a {text-decoration:none; color:#269; font-weight:bold;}
a:hover {text-decoration:underline;}
p {margin:0 0 15px 0;}
h1,h2,h3,h4 {margin:0; padding:0; font-weight:normal; line-height:1.2em;}
h1 {font-size:3em; letter-spacing:-2px; color:#567; margin:15px 0 5px 20px;}
h1 a:hover {text-decoration:none;}
h2 {font-size:1.6em; letter-spacing:-1px; margin:-10px 0 0 30px; color:#888;}
h3 {color: #555; font-size:1.4em; margin:1em 0 0.5em 0.5em;}
h4 {font-size:1.2em; font-weight:bold;}

/* Header Area */
.sitetitle {grid-column:1; grid-row:1; height: 125px;}
.sitetitle h1 {font-size:3em; letter-spacing:-2px; color:#567;}
.sitetitle h2 {font-size:1.6em; letter-spacing:-1px; color:#888;}
.menu {grid-column:2 / 4; grid-row:1; text-align:right; height:71px; padding-top:35px;}
.menu a {font-size:1.6em; letter-spacing: -1px; padding:35px 6px 41px 6px; color:#888; font-weight: normal;}
.menu a:hover{
    color:#269; text-decoration:none; padding:35px 5px 41px 5px;
    border-left: 1px solid #eee; border-right: 1px solid #eee;}

/* Primary Content */
.content {grid-column:1 / 4; grid-row:2;}
#loadingIcon {width: 22px; position: relative; top: 5px;}
#searchError {
    color: #942a25; font-size: 1em; font-weight:bold; display: block;
    margin: 10px 0 0 4px; padding: 2px 0 2px 20px;
    border-left: 2px solid #942a25; background-color: #ffe4e8}
#search {margin-bottom: 1.6em;}
.searchHeader {border: none; margin: 0; color: #444;}
.syntaxHelp {color: #bbb; margin: 0; padding: 5px; font-size: 0.9em; font-weight: normal; display: none;}
.syntaxHelp b {color: #666;}
.inputArea {margin: 0 0 0.6em 0;}
.searchInfo {font-size: 1em; color: #bbb; font-weight: bold; margin: 0 0 0 10px;}
.searchFieldText {
    width:50%; height: 27px; border-radius: 0; margin: 3px 0 0 0; padding: 0 0 0 5px;
    letter-spacing: normal; word-spacing: normal; text-transform: none; text-indent: 0;
    text-shadow: none; display: inline-block; font-family: inherit;}
.searchFieldButton {
    width:10%; height: 31px; border-radius: 0; margin: 3px 0 0 -1px; padding: 0;
    white-space: pre; align-items: flex-start; font-family: inherit;
    text-align: center; cursor: default; color: #333; background-color: #eee;
    box-sizing: border-box; border-style: outset; border-left-style: none;
    -webkit-appearance: none; -webkit-border-radius: 0;}
.searchFieldButton:active, .optionButton:active {
    border-style: inset; background-color: #ddd;}
.errorBar {width:100%; height:26px; background-color:#FFE4E8; font-size: 1.2em;
    border-left: 4px solid #942a25; padding:4px; font-weight:bold; display:none;}

/* Extra Clases */
.center {text-align: center;}

/* Custom Table Formatting */
.recipeData {border-collapse: collapse; margin-top: 1em; font-size: 1.17em; width:100%; /*height: 1085px; overflow: auto;*/ display: block}
.recipeData th {cursor: pointer; position: -webkit-sticky; position: sticky; top: 0; background-color: #fff; padding: 0 0 2px 2px;}
.recipeData td {padding: 4px 6px 4px 6px;}
.recipeData tr:nth-child(even) {background-color: #eee;}

/* Responsive Stuff */
@media (max-width: 960px){
    .container {width:86%; min-width: 480px; min-height:1000px; grid-template-columns:65% 35%;}
    .menu {grid-column:2}
    .content {grid-column: 1 / 3;}
    .inputArea {margin:0 10px 1.6em 10px}
    .inputArea h2 {font-size: 1.8em;}
    .inputArea h5 {font-size: 0.5em;}
    .searchFieldText {width: 70%;}
    .searchFieldButton {width: 15%;}
    .recipeData {overflow-x: auto;}
}

/* Safari (version 10+) Specific CSS */
@media not all and (min-resolution:.001dpcm) {
    @media {
        .sitetitle h1 {margin-left: 2px;}
        .sitetitle h2 {margin-left: 10px;}
        .searchFieldText {height: 35px; width: 64%; border-width: 1px;}
        .searchFieldButton {width: 22%;}
        .searchFieldButton, .optionButton {height: 37px; font-size: 1.4em; border-width: 1px;}
        .optionPanel span {font-size: 0.7em;}
        .searchInfo {font-size: 0.7em;}
        .recipeData {overflow-x: scroll; -webkit-overflow-scrolling: touch;}
        #search {margin-bottom: 0;}
        input[type='text'], input[type='number'], textarea {font-size: 16px;}
    }
}